@model BAU.Data.Models.Schedule

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Schedule</div>
    <div class="panel-body">
        <a href="@Url.Action("Add")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Slots
        </a>

        @Html.Partial("ScheduleDates", Model.Dates)

    </div>
</div>


