@{
    ViewData["Title"] = "Home";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">BUA</div>
    <div class="panel-body">
        <h2>Welcome to the BUA Wheel Of Fate</h2>
        <p>To view the schedule and populate slots, click on Schedule above.</p>
        <p>The schedule will show from the start of this week, until the last allocated date. Slots are allocated on the next available week date.</p>
        <p>This is a very rough version. Things I'd like to add are:</p>
        <ul>
            <li>User login and roles (so engineers can login to see schedule)</li>
            <li>Ability to add, amend, delete or view engineers</li>
            <li>Web API (to include JWT token authentication)</li>
            <li>Client side rendering (using React or Angular)</li>
            <li>Configuation settings for start of week, number of days in week, number of slots in day</li>
            <li>Nicer UI - it's really very basic just using Bootstrap</li>
        </ul>
    </div>
</div>
