@model BAU.Data.Models.Engineer

@{
    ViewBag.Title = "Delete Engineer";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Create / Edit Engineer</div>
    <div class="panel-body">
        <p>To be implemented</p>
    </div>
</div>